pipeline/piepline_sql_incremental_without_watermark.json
{
	"name": "piepline_sql_incremental_without_watermark",
	"properties": {
		"activities": [
			{
				"name": "LookupNewWaterMarkActivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select MAX(LastModifytime) as NewWatermarkvalue from data_source_table",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "SourceDataset_SQL",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "IncrementalCopyActivity",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupNewWaterMarkActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from data_source_table where LastModifytime > '@{activity('LookupNewWaterMarkActivity').output.firstRow.NewWatermarkvalue}'\n and LastModifytime <='@{pipeline().parameters.windowStart}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SourceDataset_SQL",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Destination_Dataset_SQL_blob",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"windowStart": {
				"type": "string"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}