pipeline/pipeline_sql_incremental.json
{
	"name": "pipeline_sql_incremental",
	"properties": {
		"activities": [
			{
				"name": "LookupLastChangeTrackingVersionActivity",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from table_store_ChangeTracking_version",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ChangeTrackingDataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LookupCurrentChangeTrackingVersionActivity",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "LookupLastChangeTrackingVersionActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT CHANGE_TRACKING_CURRENT_VERSION() as CurrentChangeTrackingVersion",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "SourceDataset_SQL",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "IncrementalCopyActivity",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupCurrentChangeTrackingVersionActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select data_source_table.PersonID,data_source_table.Name,data_source_table.Age, \nCT.SYS_CHANGE_VERSION, SYS_CHANGE_OPERATION \nfrom data_source_table \nRIGHT OUTER JOIN CHANGETABLE(CHANGES data_source_table, \n@{activity('LookupLastChangeTrackingVersionActivity').output.firstRow.SYS_CHANGE_VERSION}) \nas CT on data_source_table.PersonID = CT.PersonID where CT.SYS_CHANGE_VERSION\n <= @{activity('LookupCurrentChangeTrackingVersionActivity').output.firstRow.CurrentChangeTrackingVersion}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SourceDataset_SQL",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Destination_Dataset_SQL_blob",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "StoredProceduretoUpdateChangeTrackingActivity",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "IncrementalCopyActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Update_ChangeTracking_Version]"
				},
				"linkedServiceName": {
					"referenceName": "ls_sql",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}